
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}



/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0px;
}

h1 {
  color: #3d3d3f;
  font-size: 44px;
  line-height: normal;
}

h2 {
  color: #575757;
  font-size: 40px;
  line-height: 52px;
  margin-top: 0px;
}

h4 {
  color: #797979;
  font-size: 18px;
  font-weight: normal;
}

p {
    color: #878787;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.2px;
}

strong, span {
  color: #878787;
  font-weight: normal;
}



/*---------------------------------------
  Buttons               
-----------------------------------------*/

.section-btn:focus,
.section-btn:hover {
  color: #ffffff;
}

.section-btn {
  background-image: linear-gradient(to right, #fdcd0a, #f8981f);
  border-radius: 8px;
  color: #191919;
  font-weight: 300;
  font-size: 15px;
  padding: 13px 17px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  border: none;
}

/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #f8961f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
}

#about, #work,
#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

#about img, #team img {
  border-radius: 5px;
}

#work {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#contact {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #f3f6f7;
}
.footer .container {
  padding-top: 30px;
  padding-bottom: 20px;
  clear: both;
}

.footer .container>span {
  float: left;
}

.footer .container>ul {
  float: right;
}

/*---------------------------------------
  Pre loader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #000000;
  border-top-color: #f9f9f9;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
  Navigation section              
-----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: #ffffff;
  padding-top: 22px;
}

.custom-navbar .navbar-brand {
  color: #444;
  /* font-weight: normal; */
  font-size: 24px;
}

.custom-navbar .nav li a {
  font-size: 12px;
  /* font-weight: normal; */
  color: #656565;
  letter-spacing: 1px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 12px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #000000;
  border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      box-shadow:0 40px 100px rgba(0,0,0,.2);
      padding: 10px 0;
    }

}



/*---------------------------------------
  Home section              
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 62px;
  
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0,  #f1e8c9), color-stop(1, #d9e7f5));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left,  #f1e8c9 0%, #d9e7f5 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right,  #f1e8c9 0%, #d9e7f5 100%);
  background-image: -ms-repeating-linear-gradient(top left,  #f1e8c9 0%, #d9e7f5 100%);
}

/* #home img {
  width: 120px;
  height: 120px;
} */


/*---------------------------------------
  About section              
-----------------------------------------*/

#about .section-title {
  padding-bottom: 16px;
}

#about .col-md-4 a {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 6px 6px 0px 0;
}

#about .about-thumb {
  margin-top: 22px;
}

#about .about-thumb strong {
  font-weight: normal;
  display: block;
  padding-top: 4px;
}



/*---------------------------------------
  Skill section              
-----------------------------------------*/

#skill {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 80px;
  padding-bottom: 60px;
}

.skill-thumb strong,
.skill-thumb span {
  color: #575757;
  font-size: 16px;
  padding-bottom: 8px;
  display: inline-block;
}

.skill-thumb .progress {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: none;
  height: 4px;
}

.skill-thumb .progress-bar-primary {
  background: #3d3d3f;
}

.demo {
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 50px;
}


/*---------------------------------------
  Work section              
-----------------------------------------*/

#work .work-thumb {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#work .work-thumb:hover {
  background: #ffffff;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#work .work-thumb img {
  border-radius: 5px;
}

.use-case p {
  font-size: 14px;
}

/*---------------------------------------
  Contact section              
-----------------------------------------*/

#contact .form-control,
#mc_embed_signup .form-control{
  border-radius: 0px;
  border-color: #f0f0f0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus,
#mc_embed_signup .form-control:focus {
  border-bottom: 2px solid #999999;
}

#mc_embed_signup input.email {
  font-family: 'Roboto', sans-serif;
  border: none;
}

#mc_embed_signup .section-btn {
  height: 34px;
  line-height: 34px;
  padding-top: 0px;
}

#mc_embed_signup form {
  text-align: left;
}

#mc_embed_signup {
  padding-top: 30px;
}

#mc_embed_signup .clear {
  padding-left: 5px;
}

#contact input,
#mc_embed_signup input {
  height: 55px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

#contact button#submit {
  background-image: linear-gradient(to right, #fdcd0a, #f8981f);
  border: none;
  border-radius: 8px;
  color: #191919;
  font-weight: 300;
  height: 45px;
  padding-bottom: 7px;
  margin-top: 24px;
}

#contact button#submit:hover,
#contact button#submit:focus {
  color: #ffffff;
}

/* .section-btn {
  background-image: linear-gradient(to right, #fdcd0a, #f8981f);
  border-radius: 8px;
  color: #191919;
  font-weight: 300;
  font-size: 15px;
  padding: 13px 17px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  border: none;
  width: 30%;
} */


/*---------------------------------------
  Social icon             
-----------------------------------------*/

/* .social-icon {
  margin: -20px 0 0 30px;
} */

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #292929;
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.social-icon li a:hover {
  color: #fff;
  background-color: #f8981f;
  background-image: linear-gradient(to right, #fdcd0a, #f8981f);
}
.app-screen {
  width: 200px;
}

/*---------------------------------------
  Mobile Responsive styles              
-----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  #home {
    height: 50vh;
  }
}

@media (min-width: 667px) and (max-width: 767px) {
  #home {
    height: 140vh;
  }
}

@media (min-width: 568px) and (max-width: 665px) {
  #home {
    height: 190vh;
  }
}

@media (max-width: 980px) {

 h1 {font-size: 33px;}

 #work .work-thumb {
  margin-top: 30px;
 }

}


@media (max-width: 768px) {

  h1 {
    font-size: 30px;
    line-height: normal;
  }

  h2  {font-size: 30px;}

  .custom-navbar {
    background-color: #ffffff;
    box-shadow:0 40px 100px rgba(0,0,0,.2);
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .custom-navbar .nav {
    padding-bottom: 10px;
  }

  .custom-navbar .nav li a {
    display: inline-block;
    margin-bottom: 5px;
  }

}


@media (max-width: 580px) {

  #about .about-thumb {
    margin-top: 0px;
  }

  .about-thumb .social-icon {
    margin-bottom: 15px;
  }

}


@media (max-width: 357px) {

  h1 {
    font-size: 28px;
  }

  #about .col-md-4 a {
    width: 85px;
    height: 85px;
  }

}
